<!DOCTYPE html>
<html lang = "en">
<head>
    <link rel = "stylesheet" href = "/stylesheets/about.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lora&family=Raleway&display=swap" rel="stylesheet"> 

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
    <header>
        <div class = "nav-item">
            <a href = "/">products</a>
        </div>
        <div class = "nav-item active">
            <a href = "/about">about</a>
        </div>
        <div class = "nav-item">
            <a href = "/cart">cart</a>
        </div>
    </header>
    <main>
        <figure>
            <img src = "/images/portrait.png">
        </figure>
        <h2>About Me</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
        <footer>
            <!--<ion-icon name="logo-instagram" size = "medium"></ion-icon>-->
            <a href = "https://www.instagram.com/zachary.leggio/" class = "fa fa-instagram"></a> <a href = "https://www.instagram.com/zachary.leggio/">@zachary.leggio</a>
            <br>
            <a href = "mailto:leggio.dough@gmail.com" id = "email">leggio.dough@gmail.com</a>
        </footer>
    </main>
    <!--<script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>-->
</body>
</html>