<!DOCTYPE html>
<html lang = "en">
<head>
    <link rel = "stylesheet" href = "/stylesheets/cart.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lora&family=Raleway&display=swap" rel="stylesheet"> 

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
    <header>
        <div class = "nav-item">
            <a href = "/">products</a>
        </div>
        <div class = "nav-item">
            <a href = "/about">about</a>
        </div>
        <div class = "nav-item active">
            <a href = "/cart">cart</a>
        </div>
    </header>

    <main>
        <section>
            <!--filled dynamically by gencart.js-->
        </section>
        <aside>
            <h2>Checkout form</h2>
            <p>please specify payment method and be ready with it when you pick up your order from Zach</p>
            <form action = "/cart" method = "post" id = "form">
                <input type = "text" name = "name" placeholder = "name">
                <input type = "text" name = "email" placeholder = "email">
                <input type = "text" name = "info" placeholder = "additional instructions">
                <input type = "submit" value = "checkout" onclick = checkout()>
            </form>
        </aside>
    </main>

    <script src = "/javascripts/cart.js"></script>
    <script src = "/javascripts/gencart.js"></script>
</body>
</html>