<!DOCTYPE html>
<html lang = "en">
<head>
    <link rel = "stylesheet" href = "/stylesheets/cart.css">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
    <header>
        <div class = "nav-item">
            <a href = "/products">products</a>
        </div>
        <div class = "nav-item">
            <a href = "/about">about</a>
        </div>
        <div class = "nav-item">
            <a href = "/cart">cart</a>
        </div>
    </header>

    <main>
        <!--filled dynamically by gencart.js-->
    </main>

    <h5 onclick = checkout()>clear cart</h5>

    <script src = "/javascripts/cart.js"></script>
    <script src = "/javascripts/gencart.js"></script>
</body>
</html>