<!DOCTYPE html>
<html lang = "en">
<head>
    <link rel = "stylesheet" href = "/stylesheets/checkout.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lora&family=Raleway&display=swap" rel="stylesheet"> 

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
    <header>
        <div class = "nav-item">
            <a href = "/">products</a>
        </div>
        <div class = "nav-item">
            <a href = "/about">about</a>
        </div>
        <div class = "nav-item active">
            <a href = "/cart">cart</a>
        </div>
    </header>
    <main>
        
    </main>
</body>
</html>