<!DOCTYPE html>
<html lang = "en">
<head>
    <link rel = "stylesheet" href = "/stylesheets/checkout.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lora&family=Raleway&display=swap" rel="stylesheet"> 

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
    <header>
        <div class = "nav-item">
            <a href = "/">products</a>
        </div>
        <div class = "nav-item">
            <a href = "/about">about</a>
        </div>
        <div class = "nav-item active">
            <a href = "/cart">cart</a>
        </div>
    </header>
    <main>
        <section>
            <h2>Your order has been placed!</h2>
            <h5>you will receive an email when it is ready for pickup</h5>
        </section>
        <section>
            <h5 id = "form-label">sign up for our mailing list to be notified about new products and special offers!</h5>
            <form action = '/checkout' method = 'post'>
                <input type = "text" name = "name" placeholder = "name">
                <input type = "text" name = "email" placeholder = "email">
                <input type = "submit" value = "sign me up!">
            </form>
        </section>
    </main>
</body>
</html>