<!DOCTYPE html>
<html lang = "en">
<head>
    <link rel = "stylesheet" href = "/stylesheets/products.css">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
    <header>
        <div class = "nav-item">
            <a href = "/products">products</a>
        </div>
        <div class = "nav-item">
            <a href = "/about">about</a>
        </div>
        <div class = "nav-item">
            <a href = "#">cart</a>
        </div>
    </header>
    <main>
        <nav>
            <div class = "category-link">
                <a href = "#">pasta</a>
            </div>
            <div class = "category-link">
                <a href = "#">bread</a>
            </div>
            <div class = "category-link">
                <a href = "#">pastries</a>
            </div>
        </nav>
        <div id = "list">
            <% for (var i = 0; i < products.length; i++) { %>
                <item>
                    <h5><%= products[i].name %>    <%= products[i].quantity %></h5>
                </item>
            <% } %> 
        </div>
    </main>
</body>
</html>