:root {
    --serif-font: 'Lora', serif;
    --sansserif-font: 'Raleway', sans-serif;
    --highlight-red: #A23122;
}
header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.nav-item {
    margin: 1em;
}
.nav-item a {
    color: black;
    font-family: var(--sansserif-font);
}
.active a{
    text-decoration: underline;
    color: var(--highlight-red);
}

main {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: auto;

    margin: 10%;
    text-align: center;
    justify-items: center;

    border: 1px black solid;
}

p {
    width: 45%;
}