:root {
    --serif-font: 'Lora', serif;
    --sansserif-font: 'Raleway', sans-serif;
    --highlight-red: #A23122;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.nav-item {
    margin: 1em;
}
.nav-item a {
    color: black;
    font-family: var(--sansserif-font);
}

main {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: auto;
    font-family: var(--sansserif-font);
}
nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.category-link {
    margin: 1em;
}
.category-link a{
    text-decoration: none;
    color: inherit;
    text-transform: uppercase;
    font-family: var(--sansserif-font);
}
.active a{
    text-decoration: underline;
    color: var(--highlight-red);
}

#list {
    display: flex;
    flex-direction: column;
    margin: 2%;

    border: 1px black solid;
}

item {
    border: 1px grey solid;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
article {
    text-align: center;
}

article h2 {
    font-family: var(--serif-font);
}
article h5 {
    color: var(--highlight-red);
}
article h5:hover {
    cursor: pointer;
}
/*
#popup {
    left: 90%;
    top: 90%;
    z-index: 1;
    transform: translateX(200%);
    transition: transform .5s;
}
.shown {
    transform: translateX(0);
}
*/